apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummy
  foo: bar
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: dummy
  template:
    metadata:
      labels:
        app: dummy
    spec:
      containers:
        - name: dummy
          image: nginx:alpine
          ports:
            - containerPort: 80
